<template>
  <div class="orders">
    <!-- 面包屑 -->
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item :to="{ path: '/home' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>订单管理</el-breadcrumb-item>
      <el-breadcrumb-item>订单列表</el-breadcrumb-item>
    </el-breadcrumb>
    <!-- 卡片视图 -->
    <el-card>
      <div class="input">
        <el-input v-model="queryInfo.query" placeholder="请输入内容">
          <el-button
            slot="append"
            icon="el-icon-search"
            @click="searchUser"
          ></el-button>
        </el-input>
      </div>
      <el-table :data="list" border style="width: 100%">
        <el-table-column type="index" label="#"> </el-table-column>
        <el-table-column prop="order_number" label="订单编号" width="400">
        </el-table-column>
        <el-table-column prop="order_price" label="订单价格"> </el-table-column>
        <el-table-column label="是否付款"
          ><el-button type="danger" size="mini">未付款</el-button>
        </el-table-column>
        <el-table-column prop="is_send" label="是否发货"> </el-table-column>
        <el-table-column prop="update_time" label="下单时间">
          <template slot-scope="scope">
            {{ scope.row.update_time | dataFormat }}
          </template>
        </el-table-column>
        <el-table-column label="操作">
          <el-button
            type="primary"
            icon="el-icon-edit"
            size="mini"
            @click="edit"
          ></el-button
          ><el-button
            type="success"
            icon="el-icon-location-outline"
            size="mini"
            @click="pori"
          ></el-button>
        </el-table-column>
      </el-table>
      <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="queryInfo.pagenum"
        :page-sizes="[5, 10, 15, 20]"
        :page-size="queryInfo.pagesize"
        layout="total, sizes, prev, pager, next, jumper"
        :total="total"
      >
      </el-pagination>
    </el-card>
    <!-- 修改模态框 -->
    <el-dialog title="修改地址" :visible.sync="dialogVisible">
      详细地址:
      <el-input v-model="input" placeholder="请输入内容"></el-input>
      省市区/县<el-cascader
        :options="parentList"
        :props="cateProps"
        @change="handleChange"
        expand-trigger="hover"
      ></el-cascader>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="editList">确 定</el-button>
      </span>
    </el-dialog>
    <el-dialog title="物流进度" :visible.sync="proDialogVisible" width="50%">
    </el-dialog>
  </div>
</template>

<script>
import { orderList, cateAdd } from "@/api/login.js";
export default {
  data() {
    return {
      input: "",
      parentList: [],
      dialogVisible: false,
      proDialogVisible: false,
      list: [],
      queryInfo: {
        query: "",
        pagenum: 1,
        pagesize: 5,
      },
      total: 0,
      cateProps: {
        label: "cat_name",
        value: "cat_id",
        children: "children",
        expandTrigger: "hover",
      },
    };
  },
  mounted() {
    this.orders();
  },
  methods: {
    orders() {
      orderList(this.queryInfo).then((res) => {
        console.log(res.data);
        this.list = res.data.goods;
        this.total = res.data.total;
      });
    },
    // 分页
    handleSizeChange(newSize) {
      this.queryInfo.pagesize = newSize;
      this.orders();
    },
    handleCurrentChange(newPage) {
      this.queryInfo.pagenum = newPage;
      this.orders();
    },
    searchUser() {},
    // 修改
    edit() {
      this.dialogVisible = true;
      cateAdd().then((res) => {
        console.log(res.data);
        this.parentList = res.data;
      });
    },
    editList() {
      this.dialogVisible = false;
    },
    handleChange() {},
    pori() {
      this.proDialogVisible = true;
    },
  },
  components: {},
};
</script>

<style lang='scss'>
.input {
  width: 500px;
  height: 40px;
}
</style>
