<template>
    <div class='index'>
        <h2>Welcome!</h2>
        <h2>欢迎使用商城后台管理系统！</h2>
    </div>
</template>

<script>
export default {
    data() {
        return {};
    },
    mounted() {},
    methods: {},
    components:{}
};
</script>

<style lang='scss'>

</style>
