<template>
  <div class="add">
    <!-- 面包屑 -->
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item :to="{ path: '/home' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>商品管理</el-breadcrumb-item>
      <el-breadcrumb-item>商品列表</el-breadcrumb-item>
      <el-breadcrumb-item>添加商品</el-breadcrumb-item>
    </el-breadcrumb>
    <!-- 卡片视图 -->
    <el-card>
      <!-- 提示区域 -->
      <el-alert
        title="添加商品信息"
        type="info"
        center
        show-icon
        :closable="false"
      ></el-alert>
      <!-- 步骤条 -->
      <el-steps
        :space="200"
        :active="Index - 0"
        finish-status="success"
        align-center
      >
        <el-step title="基本信息"></el-step>
        <el-step title="商品参数"></el-step>
        <el-step title="商品属性"></el-step>
        <el-step title="商品图片"></el-step>
        <el-step title="商品内容"></el-step>
        <el-step title="完成"></el-step>
      </el-steps>
      <!-- tab栏 -->
      <el-form
        :model="addForm"
        :rules="addFormRules"
        ref="addFormRef"
        label-position="top"
      >
        <el-tabs
          :tab-position="'left'"
          v-model="Index"
          :before-leave="beforeTab"
          @tab-click="tabClick"
        >
          <el-tab-pane label="基本信息" name="0">
            <el-form-item label="商品名称" prop="goods_name">
              <el-input v-model="addForm.goods_name"></el-input>
            </el-form-item>
            <el-form-item label="商品价格" prop="goods_price">
              <el-input v-model="addForm.goods_price" type="number"></el-input>
            </el-form-item>
            <el-form-item label="商品重量" prop="goods_weight">
              <el-input v-model="addForm.goods_weight" type="number"></el-input>
            </el-form-item>
            <el-form-item label="商品重量" prop="goods_number">
              <el-input v-model="addForm.goods_number" type="number"></el-input>
            </el-form-item>
            <el-form-item label="商品分类" prop="goods_cut">
              <el-cascader
                v-model="addForm.goods_cat"
                :options="cateList"
                :props="cateProps"
                expand-trigger="hover"
                @change="handleChange"
              ></el-cascader>
            </el-form-item>
          </el-tab-pane>
          <el-tab-pane label="商品参数" name="1">
            <el-form-item
              :label="item.attr_name"
              v-for="item in manyTable"
              :key="item.attr_id"
            >
            </el-form-item>
          </el-tab-pane>
          <el-tab-pane label="商品属性" name="2"
            ><el-form-item
              :label="item.attr_name"
              v-for="item in onlyTable"
              :key="item.attr_id"
            >
              <el-input v-model="item.attr_vals"></el-input>
            </el-form-item>
          </el-tab-pane>
          <el-tab-pane label="商品图片" name="3">
            <el-upload
              :action="uploadURL"
              :on-preview="handlePreview"
              :on-remove="handleRemove"
              list-type="picture"
              :headers="heads"
            >
              <el-button size="small" type="primary">点击上传</el-button>
            </el-upload>
          </el-tab-pane>
          <el-tab-pane label="商品内容" name="4" style="width: 607px">
            <textarea
              name=""
              id=""
              cols="30"
              rows="10"
              style="width: 600px"
            ></textarea>
            <el-button type="primary" @click="add">添加商品</el-button>
          </el-tab-pane>
        </el-tabs>
      </el-form>
    </el-card>

    <el-dialog title="图片预览" :visible.sync="outerVisible">
      <el-image
        style="width: 95%; height: 95%; margin: 0 auto"
        :src="url"
        :preview-src-list="srcList"
      >
      </el-image>
    </el-dialog>
  </div>
</template>

<script>
import { getList, clickTab, onlyTab, addList } from "@/api/login.js";
export default {
  data() {
    return {
      uploadURL: "http://127.0.0.1:8888/api/private/v1/upload",
      Index: "0",
      cateList: [],
      cateProps: {
        label: "cat_name",
        value: "cat_id",
        children: "children",
      },
      heads: {
        Authorization: localStorage.getItem("token"),
      },
      addForm: {
        goods_name: "",
        goods_price: 0,
        goods_weight: 0,
        goods_number: 0,
        // 分类数组
        goods_cat: [],
      },
      addFormRules: {
        goods_name: [
          { required: true, message: "请输入商品名称", trigger: "blur" },
        ],
        goods_price: [
          { required: true, message: "请输入商品价格", trigger: "blur" },
        ],
        goods_weight: [
          { required: true, message: "请输入商品重量", trigger: "blur" },
        ],
        goods_number: [
          { required: true, message: "请输入商品数量", trigger: "blur" },
        ],
        goods_cat: [
          { required: true, message: "请输入商品选择分类", trigger: "blur" },
        ],
      },
      manyTable: [],
      onlyTable: [],
      url: "",
      srcList: [],
      outerVisible: false,
    };
  },
  mounted() {
    this.getAddlist();
  },
  methods: {
    // 获取数据
    getAddlist() {
      getList().then((res) => {
        // console.log(res);
        this.cateList = res.data;
      });
    },
    handleChange() {
      // console.log(this.addForm.goods_cat);
      if (this.addForm.goods_cat.length != 3) {
        this.addForm.goods_cat = [];
      }
    },
    // 阻止切换
    beforeTab(activeName, odlActiveName) {
      if (odlActiveName === "0" && this.addForm.goods_cat.length !== 3) {
        this.$message.error("请先选择商品分类");
        return false;
      }
    },
    tabClick() {
      // 动态参数面板
      if (this.Index === "1") {
        clickTab(this.addForm.goods_cat[2]).then((res) => {
          console.log(res);
          this.manyTable = res.data;
        });
      } else if (this.Index === "2") {
        onlyTab(this.addForm.goods_cat[2]).then((res) => {
          console.log(res);
          this.onlyTable = res.data;
        });
      }
    },
    handlePreview(list) {
      console.log(list);
      this.outerVisible = true;
      this.url = list.response.data.url;
    },
    handleRemove() {},
    add() {
      addList(
        {goods_name:this.addForm.goods_name,goods_price:this.addForm.goods_price,goods_number:this.addForm.goods_number,goods_weight:this.addForm.goods_weight,goods_cat:this.addForm.goods_cat}
        ).then(res=>{
        console.log(res);
        this.$router.push("/goods");
        this.getAddlist();
      this.$message({
        message: "恭喜你，添加成功",
        type: "success",
      });
      })
    },
  },
  components: {},
};
</script>

<style lang='scss'>
.el-steps {
  margin: 15px 0;
}
.el-steps-title {
  font-size: 13px;
}
</style>
