<template>
  <div class="categories">
    <!-- 面包屑 -->
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item :to="{ path: '/home' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>商品管理</el-breadcrumb-item>
      <el-breadcrumb-item>商品分类</el-breadcrumb-item>
    </el-breadcrumb>
    <!-- 卡片视图 -->
    <el-card>
      <el-button type="primary" @click="showAdd">添加分类</el-button>
      <!-- 表格 -->
      <tree-table
        class="treeTable"
        :data="cateList"
        :columns="columns"
        :selection-type="false"
        :expand-type="false"
        border
        :show-index="true"
        index-text="#"
        :show-row-hover="false"
      >
        <template slot="isok" slot-scope="scope">
          <i
            class="el-icon-success"
            v-if="scope.row.cat_deleted === false"
            style="color: lightgreen"
          ></i
          ><i class="el-icon-error" v-else style="color: red"></i> </template
        ><template slot="isSort" slot-scope="scope">
          <el-tag size="mini" v-if="scope.row.cat_level === 0">一级标签</el-tag>
          <el-tag type="success" v-else-if="scope.row.cat_level === 1"
            >二级标签</el-tag
          >
          <el-tag type="warning" v-else>三级标签</el-tag>
        </template>
        <template slot="opt" slot-scope="scope">
          <el-button
            type="primary"
            icon="el-icon-search"
            size="mini"
            @click="edit(scope.row)"
            >编辑</el-button
          ><el-button
            type="danger"
            icon="el-icon-delete"
            size="mini"
            @click="open(scope.row.cat_id)"
            >删除</el-button
          >
        </template></tree-table
      >
      <!-- 分页 -->
      <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="querInfo.pagenum"
        :page-sizes="[3, 5, 10, 15]"
        :page-size="querInfo.pagesize"
        layout="total, sizes, prev, pager, next, jumper"
        :total="total"
      >
      </el-pagination>
    </el-card>
    <!-- 添加模态框 -->

    <el-dialog
      title="添加分类"
      :visible.sync="addCatedialogVisible"
      width="50%"
    >
      <el-form
        :model="addForm"
        :rules="addFormRules"
        ref="addFormRef"
        label-width="100px"
      >
        <el-form-item label="分类名称:" prop="cat_name">
          <el-input v-model="valName"></el-input>
        </el-form-item>
        <el-form-item label="父级分类:">
          <el-cascader
            v-model="addForm.good_cat"
            :options="parentList"
            :props="cateProps"
            @change="handleChange"
            expand-trigger="hover"
          ></el-cascader>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="addCatedialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="cateOk">确 定</el-button>
      </span>
    </el-dialog>

    <!-- 修改模态框 -->
    <el-dialog title="编辑分类" :visible.sync="editdialogTableVisible">
      分类名称:
      <el-input v-model="cateName" placeholder="请输入内容"></el-input>
      <span slot="footer" class="dialog-footer">
        <el-button @click="editdialogTableVisible = false">取消</el-button>
        <el-button type="primary" @click="editList" :plain="true"
          >确定</el-button
        >
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { cateTab, cateAdd, cateAddList, cateDeleted, cateEdit } from "@/api/login.js";
export default {
  data() {
    return {
      cateProps: {
        label: "cat_name",
        value: "cat_id",
        children: "children",
        expandTrigger: "hover",
      },
      cateName: "",
      cateList: [],
      editdialogTableVisible: false,
      cateId:0,
      querInfo: {
        type: 3,
        pagenum: 1,
        pagesize: 5,
      },
      total: 0,
      columns: [
        { label: "分类名称", prop: "cat_name" },
        {
          label: "是否有效",
          type: "template",
          template: "isok",
        },
        {
          label: "排序",
          type: "template",
          template: "isSort",
        },
        {
          label: "操作",
          type: "template",
          template: "opt",
        },
      ],
      addCatedialogVisible: false,
      addFormRules: {
        cat_name: [
          //   { required: true, message: "请输入分类名称", trigger: "blur" },
        ],
      },
      addForm: {
        good_cat: [],
      },
      parentList: [],
      valName: "",
    };
  },
  mounted() {
    this.getCate();
  },
  methods: {
    getCate() {
      cateTab(this.querInfo).then((res) => {
        // console.log(res.data);
        this.cateList = res.data.result;
        this.total = res.data.total;
      });
    },
    // 分页
    handleSizeChange(newSize) {
      this.querInfo.pagesize = newSize;
      this.getCate();
    },
    handleCurrentChange(newNum) {
      this.querInfo.pagenum = newNum;
      this.getCate();
    },
    // 添加
    showAdd() {
      cateAdd().then((res) => {
        console.log(res.data);
        this.parentList = res.data;
      });
      this.addCatedialogVisible = true;
    },
    handleChange() {
      console.log(this.addForm.good_cat);
    },
    cateOk() {
      let obj = {
        cat_name: this.valName,
        cat_pid: this.addForm.good_cat[this.addForm.good_cat.length - 1],
        cat_level: this.addForm.good_cat.length,
        cat_id: this.addForm.good_cat[0],
      };
      cateAddList(obj).then((res) => {
        console.log(res);
        this.getCate();
        this.addCatedialogVisible = false;
      });
    },
    // 删除
    open(id) {
      console.log(id);
      this.$confirm("此操作将永久删除该文件, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(() => {
          cateDeleted(id).then((res) => {
            console.log(res);
            this.getCate();
          });
          this.$message({
            type: "success",
            message: "删除成功!",
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除",
          });
        });
    },
    //修改
    edit(row) {
      this.cateName = row.cat_name;
      this.cateId = row.cat_id;
      this.editdialogTableVisible = true
    },
    editList() {
        let cate = this.cateName
        this.editdialogTableVisible = false
        cateEdit(this.cateId,cate).then((res)=>{
            console.log(res);
            this.getCate();
        })
    },
  },
  components: {},
};
</script>

<style lang='scss'>
.treeTable {
  margin-top: 15px;
}
</style>
