<template>
  <div class="goods">
    <!-- 面包屑 -->
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item :to="{ path: '/home' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>商品管理</el-breadcrumb-item>
      <el-breadcrumb-item>商品列表</el-breadcrumb-item>
    </el-breadcrumb>
    <!-- 卡片视图 -->
    <el-card class="box-card">
      <div class="search">
        <div class="input">
          <el-input v-model="queryInfo.query" placeholder="请输入内容" clearable
              @clear="getgoods">
            <el-button
              slot="append"
              icon="el-icon-search"
              @click="getgoods"
            ></el-button>
          </el-input>
        </div>
        <el-button type="primary" @click="addList">添加商品</el-button>
      </div>
      <!-- 商品列表 -->
      <el-table :data="list" border style="width: 100%" ref="ind" stripe>
        <el-table-column label="#" type="index"></el-table-column>
        <el-table-column prop="goods_name" label="商品名称"></el-table-column>
        <el-table-column
          prop="goods_price"
          label="商品价格"
          width="95px"
        ></el-table-column>
        <el-table-column
          prop="goods_weight"
          label="商品重量"
          width="80px"
        ></el-table-column>
        <el-table-column prop="add_time" label="创建时间" width="160px">
          <template slot-scope="scope">
            {{ scope.row.add_time | dataFormat }}
          </template>
        </el-table-column>

        <el-table-column prop="operation" label="操作" width="130px">
          <!-- vue实例外创建 -->
          <template slot-scope="scope">
            <el-button type="primary" icon="el-icon-edit"></el-button>
            <el-button type="danger" icon="el-icon-delete" @click="del(scope.row.goods_id)"></el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="queryInfo.pagenum"
        :page-sizes="[5,10,15,20]"
        :page-size="queryInfo.pagesize"
        layout="total, sizes, prev, pager, next, jumper"
        :total="total"
        background
      >
      </el-pagination>
    </el-card>
  </div>
</template>

<script>
import { goods, delGoods } from "@/api/login.js";
export default {
  data() {
    return {
      queryInfo: {
        query: "", //查询条件
        pagenum: 1, //当前页
        pagesize: 10, //每页显示条数
      },
      list: [],
      total: 0,
    };
  },
  mounted() {
    this.getgoods();
  },
  methods: {
    // 获取数据
    getgoods() {
      goods({
        query: this.queryInfo.query,
        pagenum: this.queryInfo.pagenum,
        pagesize: this.queryInfo.pagesize,
      }).then((res) => {
        // console.log(res.data);
        this.list = res.data.goods;
        this.total = res.data.total;
      });
    },
    // 分页
    handleSizeChange(newSize){
      this.queryInfo.pagesize = newSize
      this.getgoods();
    },
    handleCurrentChange(newPage){
      this.queryInfo.pagenum = newPage
      this.getgoods()
    },
    // 删除
    del(id){
      this.$confirm("此操作将永久删除该文件, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(() => {
          delGoods(id).then((res) => {
            // console.log(res);
            this.getgoods()
          });
          this.$message({
            type: "success",
            message: "删除成功!",
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除",
          });
        });
      this.getgoods();
    },
    // 跳转添加商品页面
    addList() {
      this.$router.push("/goods/Add");
    },
  },
  components: {},
};
</script>

<style lang='scss'>
.cell {
  display: flex;
}
.search {
  display: flex;
  .input {
    width: 300px;
    height: 40px;
  }
}
</style>
