<template>
  <div class="params">
    <!-- 面包屑 -->
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item :to="{ path: '/home' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>商品管理</el-breadcrumb-item>
      <el-breadcrumb-item>参数列表</el-breadcrumb-item>
    </el-breadcrumb>
    <!-- 卡片 -->
    <el-card>
      <el-alert
        title="注意:只允许为第三级分类设置相关参数!"
        type="warning"
        :closable="false"
        show-icon
      ></el-alert>
      <span>选择商品分类:</span>
      <el-cascader
        v-model="select"
        :options="catelist"
        expand-trigger="hover"
        :props="cateProps"
        @change="handleChange"
      ></el-cascader>
      <!-- tab栏 -->

      <el-tabs v-model="activeName" @tab-click="handleClick">
        <el-tab-pane label="动态参数" name="many">
          <el-button type="primary" size="mini" :disabled="isBtn" @click="add"
            >添加参数</el-button
          >
          <el-table :data="manyTable" border stripe row-key="attr_id">
            <el-table-column type="expand">
              <template slot-scope="scope">
                <el-tag
                  v-for="(tag, i) in scope.row.attr_vals.split(' ')"
                  :key="i"
                  closable
                  :disable-transitions="false"
                  @close="handleClose(scope.row, i)"
                  v-show="scope.row.attr_vals != ''"
                >
                  {{ tag }}
                </el-tag>

                <el-input
                  ref="saveTagInput"
                  class="input-new-tag"
                  v-if="scope.row.inputVisible"
                  v-model="scope.row.inputValue"
                  size="small"
                  @keyup.enter.native="handleInputConfirm(scope.row)"
                  @blur.native="handleInputConfirm(scope.row)"
                >
                </el-input>
                <el-button
                  v-else
                  class="button-new-tag"
                  size="small"
                  @click="showInput(scope.row)"
                  >+ New Tag</el-button
                >
              </template>
            </el-table-column>
            <el-table-column label="#" type="index"></el-table-column>
            <el-table-column
              label="参数名称"
              prop="attr_name"
            ></el-table-column>
            <el-table-column label="操作">
              <template slot-scope="scope">
                <el-button
                  type="primary"
                  icon="el-icon-edit"
                  size="mini"
                  @click="edit(scope.row)"
                  >编辑</el-button
                >
                <el-button
                  type="danger"
                  icon="el-icon-delete"
                  size="mini"
                  @click="del(scope.row)"
                  >删除</el-button
                >
              </template>
            </el-table-column>
          </el-table>
        </el-tab-pane>

        <el-tab-pane label="静态属性" name="only"
          ><el-button type="primary" size="mini" :disabled="isBtn" @click="add"
            >添加属性</el-button
          >
          <el-table :data="onlyTable" border stripe row-key="attr_id">
            <el-table-column type="expand">
              <template slot-scope="scope">
                <el-tag
                  v-for="(tag, i) in scope.row.attr_vals.split(' ')"
                  :key="i"
                  closable
                  :disable-transitions="false"
                  @close="handleClose(scope.row, i)"
                >
                  {{ tag }}
                </el-tag>
                <el-input
                  ref="saveTagInput"
                  class="input-new-tag"
                  v-if="scope.row.inputVisible"
                  v-model="scope.row.inputValue"
                  size="small"
                  @keyup.enter.native="handleInputConfirm(scope.row)"
                  @blur="handleInputConfirm(scope.row)"
                >
                </el-input>
                <el-button
                  v-else
                  class="button-new-tag"
                  size="small"
                  @click="showInput(scope.row)"
                  >+ New Tag</el-button
                >
              </template>
            </el-table-column>
            <el-table-column label="#" type="index"></el-table-column>
            <el-table-column
              label="属性名称"
              prop="attr_name"
            ></el-table-column>
            <el-table-column label="操作">
              <template slot-scope="scope">
                <el-button
                  type="primary"
                  icon="el-icon-edit"
                  size="mini"
                  @click="edit(scope.row)"
                  >编辑</el-button
                >
                <el-button
                  type="danger"
                  icon="el-icon-delete"
                  size="mini"
                  @click="del(scope.row)"
                  >删除</el-button
                >
              </template>
            </el-table-column>
          </el-table></el-tab-pane
        >
      </el-tabs>
    </el-card>
    <!-- 添加模态框 -->
    <el-dialog
      :title="'添加' + titleText"
      :visible.sync="addDialogVisible"
      width="50%"
      @close="addClosed"
    >
      <el-form
        :model="addForm"
        status-icon
        :rules="addFormRules"
        ref="addFormRef"
        label-width="100px"
      >
        <el-form-item :label="titleText" prop="attr_name">
          <el-input v-model="addForm.attr_name"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="addDialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="addCateList">确 定</el-button>
      </span>
    </el-dialog>
    <!-- 修改模态框 -->
    <el-dialog :title="'修改' + titleText" :visible.sync="editDialogVisible">
      {{ titleText }}:
      <el-input v-model="editName" placeholder="请输入内容"></el-input>
      <span slot="footer" class="dialog-footer">
        <el-button @click="editDialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="editList">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import {
  getList,
  cateParams,
  addParams,
  editParams,
  cateDele,
  cateTag,
  cateTags,
} from "@/api/login.js";
export default {
  data() {
    return {
      dynamicTags: [],
      catelist: [],
      cateProps: {
        value: "cat_id",
        label: "cat_name",
        children: "children",
      },
      select: [],
      activeName: "many",
      addDialogVisible: false,
      editDialogVisible: false,
      manyTable: [],
      onlyTable: [],
      addForm: {
        attr_name: "",
      },
      addFormRules: {
        attr_name: [
          {
            requierd: true,
            message: "请输入参数名称",
            trigger: "blur",
          },
        ],
      },
      editName: "",
      editId: 0,
      editNameId: 0,
    };
  },
  mounted() {
    this.getCateList();
  },
  methods: {
    getCateList() {
      getList().then((res) => {
        this.catelist = res.data;
      });
    },
    init() {
      cateParams(this.cateId, this.activeName).then((res) => {
        this.manyTable = res.data;
        res.data.forEach((item) => {
          item.inputVisible = false;
        });
      });
    },
    inits() {
      cateParams(this.cateId, this.activeName).then((res) => {
        this.onlyTable = res.data;
      });
    },

    handleChange() {
      this.getParamsData();
    },

    handleClick() {
      cateParams(this.cateId, this.activeName).then((res) => {
        this.onlyTable = res.data;
      });
    },

    getParamsData() {
      if (this.select.length !== 3) {
        this.select = [];
        return;
      }
      cateParams(this.cateId, this.activeName).then((res) => {
        console.log(res);
        this.manyTable = res.data;
      });
    },

    add() {
      this.addDialogVisible = true;
    },

    addClosed() {
      // this.$refs.addFormRef.resetFields();
    },

    // 添加
    addCateList() {
      addParams(this.cateId, {
        attr_name: this.addForm.attr_name,
        attr_sel: this.activeName,
      }).then((res) => {
        this.getCateList();
        this.addDialogVisible = false;
        this.$message({
          message: "恭喜你，添加成功",
          type: "success",
        });
      });
    },

    handleClose(row, i) {
      let arr = row.attr_vals.split(" ");
      arr.splice(i, 1);
      cateTags(
        { editNameId: row.cat_id, editId: row.attr_id },
        { name: row.attr_name, sel: row.attr_sel, vals: arr.join(' ')}
      ).then((res) => {
        console.log(res);
        if (this.activeName == "many") this.init();
        else if (this.activeName == "only") this.inits();
      });
    },

    showInput(row) {
      this.$set(row, "inputVisible", true);
      this.$nextTick((_) => {
        this.$refs.saveTagInput.$refs.input.focus();
      });
    },

    // 编辑
    edit(row) {
      this.editDialogVisible = true;
      this.editName = row.attr_name;
      this.editId = row.attr_id;
      this.editNameId = row.cat_id;
    },

    editList() {
      editParams(
        { editId: this.editId, editNameId: this.editNameId },
        { sel: this.activeName, name: this.editName }
      ).then((res) => {
        console.log(res);
        this.editDialogVisible = false;
        if (this.activeName == "many") this.init();
        else if (this.activeName == "only") this.inits();
      });
    },

    // 删除
    del(id) {
      this.$confirm("此操作将永久删除该属性/参数, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(() => {
          cateDele({ editNameId: id.cat_id, editId: id.attr_id }).then(
            (res) => {
              console.log(id);
              if (this.activeName == "many") this.init();
              else if (this.activeName == "only") this.inits();
            }
          );
          this.$message({
            type: "success",
            message: "删除成功!",
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除",
          });
        });
    },

    handleInputConfirm(row) {
      this.$set(row, "inputVisible", false);
      if (row.inputValue == "") return;
      row.attr_vals += " " + row.inputValue;
      cateTag(
        { editNameId: row.cat_id, editId: row.attr_id },
        { name: row.attr_name, sel: row.attr_sel, vals: row.attr_vals }
      ).then((res) => {
        console.log(res);
        this.getCateList();
      });
    },
  },

  components: {},
  computed: {
    isBtn() {
      if (this.select.length !== 3) {
        return true;
      }
      return false;
    },
    cateId() {
      if (this.select.length === 3) {
        return this.select[2];
      }
      return null;
    },
    titleText() {
      if (this.activeName === "many") {
        return "动态参数";
      }
      return "静态属性";
    },
  },
};
</script>

<style lang='scss'>
.el-tag + .el-tag {
  margin-left: 10px;
}
.button-new-tag {
  margin-left: 10px;
  height: 32px;
  line-height: 30px;
  padding-top: 0;
  padding-bottom: 0;
}
.input-new-tag {
  width: 90px;
  margin-left: 10px;
  vertical-align: bottom;
}
</style>
