<template>
  <div class="rights">
    <!-- 面包屑 -->
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item :to="{ path: '/home' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>权限管理</el-breadcrumb-item>
      <el-breadcrumb-item>权限列表</el-breadcrumb-item>
    </el-breadcrumb>
    <!-- 表格 -->
      <el-table :data="rightList" border style="width: 100%" ref="ind" stripe>
        <el-table-column label="#" type="index" width="100"></el-table-column>
        <el-table-column prop="authName" label="权限名称"></el-table-column>
        <el-table-column prop="path" label="路径"></el-table-column>
        <el-table-column prop="level" label="权限等级">
            <template slot-scope="scope">
                <el-tag v-if="scope.row.level === '0'">一级权限</el-tag>
                <el-tag type="success" v-else-if="scope.row.level === '1'">二级权限</el-tag>
                <el-tag type="warning" v-else>三级权限</el-tag>
            </template>
        </el-table-column>
      </el-table>
  </div>
</template>

<script>
import { roless } from "@/api/login.js";
export default {
  data() {
    return {
        rightList:[]
    };
  },
  mounted() {
    roless().then((res) => {
      console.log(res);
      this.rightList = res.data
    });
  },
  methods: {},
  components: {},
};
</script>

<style lang='scss'>
</style>
