<template>
  <div class="roles">
    <!-- 面包屑 -->
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item :to="{ path: '/home' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>权限管理</el-breadcrumb-item>
      <el-breadcrumb-item>角色列表</el-breadcrumb-item>
    </el-breadcrumb>
    <!-- 卡片视图 -->
    <el-card class="box-card">
      <el-row>
        <el-col>
          <!-- 添加角色按钮 -->
          <el-button type="primary" @click="dialogTableVisible = true"
            >添加角色</el-button
          >
        </el-col>
      </el-row>
      <!-- 角色列表区域 -->
      <el-table :data="roleList" border style="width: 100%" ref="ind" stripe>
        <el-table-column type="expand">
          <template slot-scope="scope">
            <el-row
              :class="['dbbottom', i === 0 ? 'dbtop' : '', 'center']"
              v-for="(item, i) in scope.row.children"
              :key="item.id"
              closable
            >
              <el-col :span="5">
                <el-tag closable @close="removeRight(scope.row, item.id)">{{
                  item.authName
                }}</el-tag>
                <i class="el-icon-caret-right"></i>
              </el-col>
              <el-col :span="19">
                <el-row
                  :class="[i1 === 0 ? '' : 'dbtop', 'center']"
                  v-for="(item1, i1) in item.children"
                  :key="item1.id"
                  closable
                >
                  <el-col :span="6">
                    <el-tag
                      type="success"
                      closable
                      @close="removeRight(scope.row, item1.id)"
                      >{{ item1.authName }}</el-tag
                    >
                  </el-col>
                  <el-col :span="18">
                    <el-tag
                      type="warning"
                      v-for="item2 in item1.children"
                      :key="item2.id"
                      closable
                      @close="removeRight(scope.row, item2.id)"
                    >
                      {{ item2.authName }}
                    </el-tag>
                  </el-col>
                </el-row>
              </el-col>
            </el-row>
          </template>
        </el-table-column>
        <el-table-column label="#" type="index" width="50"></el-table-column>
        <el-table-column prop="roleName" label="角色名称"></el-table-column>
        <el-table-column prop="roleDesc" label="角色描述"></el-table-column>
        <el-table-column prop="operation" label="操作">
          <template slot-scope="scope">
            <el-button
              type="primary"
              icon="el-icon-edit"
              size="mini"
              @click="edit(scope.row)"
              >编辑</el-button
            >
            <el-button
              type="danger"
              icon="el-icon-delete"
              size="mini"
              @click="open(scope.row.id)"
              >删除</el-button
            >
            <el-button
              type="warning"
              icon="el-icon-setting"
              size="mini"
              @click="showDialog(scope.row)"
              >分配权限</el-button
            >
          </template>
        </el-table-column>
      </el-table>
    </el-card>
    <!-- 添加模态框 -->
    <el-dialog title="添加" :visible.sync="dialogTableVisible">
      角色名称:
      <el-input v-model="name" placeholder="请输入内容"></el-input>
      角色描述:<el-input v-model="describe" placeholder="请输入内容"></el-input>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogTableVisible = false">取消</el-button>
        <el-button type="primary" @click="addList" :plain="true"
          >确定</el-button
        >
      </span>
    </el-dialog>
    <!-- 修改模态框 -->
    <el-dialog title="修改" :visible.sync="editdialogTableVisible">
      角色名称:
      <el-input v-model="rolesName" placeholder="请输入内容"></el-input>
      角色描述:<el-input
        v-model="roledescribe"
        placeholder="请输入内容"
      ></el-input>
      <span slot="footer" class="dialog-footer">
        <el-button @click="editdialogTableVisible = false">取消</el-button>
        <el-button type="primary" @click="editList" :plain="true"
          >确定</el-button
        >
      </span>
    </el-dialog>
    <!-- 分配权限模态框 -->
    <el-dialog
      title="分配权限"
      :visible.sync="showdialog"
      width="50%"
      @close="setDialog"
    >
      <el-tree
        :data="showList"
        :props="treeProps"
        show-checkbox
        node-key="id"
        default-expand-all
        :default-checked-keys="keys"
        ref="treeRef"
      ></el-tree>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showdialog = false">取 消</el-button>
        <el-button type="primary" @click="rights">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import {
  role,
  roledele,
  distribution,
  change,
  deleted,
  addRole,
  editRole,
} from "@/api/login.js";
export default {
  data() {
    return {
      roleList: [],
      showdialog: false,
      showList: [],
      treeProps: {
        label: "authName",
        children: "children",
      },
      keys: [],
      roleId: "",
      name: "",
      describe: "",
      rolesName: "",
       roledescribe: "",
      dialogTableVisible: false,
      editdialogTableVisible: false,
      editId: "",
    };
  },
  mounted() {
    this.roleAdd();
  },
  methods: {
    roleAdd() {
      role().then((res) => {
        console.log(res);
        this.roleList = res.data;
      });
    },
    // 添加
    addList() {
      addRole(this.name, this.describe).then((res) => {
        this.roleAdd();
        this.name = "";
        this.describe = "";
        this.dialogTableVisible = false;

        this.$message({
          message: "恭喜你，添加成功",
          type: "success",
        });
      });
    },
    // 删除
    removeRight(row, rightId) {
      // console.log(id,rightId);
      this.$confirm("此操作将永久删除该文件, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(() => {
          roledele(row, rightId).then((res) => {
            row.children = res.data;
          });
          this.$message({
            type: "success",
            message: "删除成功!",
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除",
          });
        });
    },
    open(id) {
      this.$confirm("此操作将永久删除该文件, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(() => {
          deleted(id).then((res) => {
            console.log(res);
            this.roleAdd();
          });
          this.$message({
            type: "success",
            message: "删除成功!",
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除",
          });
        });
      this.roleAdd();
    },
    // 修改
    edit(row) {
      // console.log(row);
      this.editdialogTableVisible = true;
      this.rolesName = row.roleName;
      this.roledescribe = row.roleDesc;
      this.editId = row.id;
    },
    editList() {
      editRole(this.editId, {
        roleName: this.rolesName,
        roleDesc: this.roledescribe,
      }).then((res) => {
        // console.log(res);
        this.editdialogTableVisible = false;
        this.roleAdd();
        this.$message({
          message: "恭喜你，修改成功",
          type: "success",
        });
      });
    },
    // 分配权限
    showDialog(row) {
      this.roleId = row.id;
      distribution().then((res) => {
        this.showList = res.data;
        console.log(this.showList);
      });
      this.getKeys(row, this.keys);
      this.showdialog = true;
    },
    // 递归
    getKeys(node, arr) {
      if (!node.children) {
        return arr.push(node.id);
      }
      node.children.forEach((item) => {
        this.getKeys(item, arr);
      });
    },
    // 监听分配权限关闭
    setDialog() {
      this.keys = [];
    },
    // 更新权限
    rights() {
      this.$confirm("此操作将永久更新该文件, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(() => {
          const key = [
            ...this.$refs.treeRef.getCheckedKeys(),
            ...this.$refs.treeRef.getHalfCheckedKeys(),
          ];
          const str = key.join(",");
          change(this.roleId, str).then((res) => {
            console.log(res);
            this.roleAdd();
            this.showdialog = false;
          });
          this.$message({
            type: "success",
            message: "更新成功!",
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消更新",
          });
        });
    },
  },
  components: {},
};
</script>

<style lang='scss' scoped>
.el-tag {
  margin: 7px;
}
.cell {
  display: flex;
}
.dbtop {
  border-top: 1px solid #eee;
}
.dbbottom {
  border-bottom: 1px solid #eee;
}
.center {
  display: flex;
  align-items: center;
}
</style>
