<template>
  <div class="users">
    <!-- 面包屑 -->
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item :to="{ path: '/home' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>用户管理</el-breadcrumb-item>
      <el-breadcrumb-item>用户列表</el-breadcrumb-item>
    </el-breadcrumb>
    <!-- 卡片视图 -->
    <el-card class="box-card">
      <div class="search">
        <div class="input">
          <el-input v-model="queryInfo.query" placeholder="请输入内容">
            <el-button
              slot="append"
              icon="el-icon-search"
              @click="searchUser"
            ></el-button>
          </el-input>
        </div>
        <el-button type="primary" @click="dialogTableVisible = true"
          >添加用户</el-button
        >
      </div>
      <!-- 用户列表 -->
      <el-table :data="tableData" border style="width: 100%" ref="ind" stripe>
        <el-table-column label="序号" type="index" width="80"></el-table-column>
        <el-table-column
          prop="username"
          label="姓名"
          width="180"
        ></el-table-column>
        <el-table-column prop="email" label="邮箱"></el-table-column>
        <el-table-column prop="mobile" label="电话"></el-table-column>
        <el-table-column prop="role_name" label="角色"></el-table-column>
        <el-table-column prop="mg_state" label="状态">
          <template slot-scope="scope">
            <el-switch
              @change="checked({ type: scope.row.mg_state, id: scope.row.id })"
              v-model="scope.row.mg_state"
              active-color="#13ce66"
              inactive-color="#ff4949"
            ></el-switch>
          </template>
        </el-table-column>

        <el-table-column prop="operation" label="操作">
          <template slot-scope="scope">
            <!-- vue实例外创建 -->
            <el-button
              type="primary"
              icon="el-icon-edit"
              circle
              @click="modify(scope.row)"
            ></el-button>
            <el-button
              type="danger"
              icon="el-icon-delete"
              circle
              @click="open(scope.row.id)"
            ></el-button>
            <el-button
              type="warning"
              icon="el-icon-setting"
              circle
              @click="admin(scope.row)"
            ></el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="block">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          :current-page="queryInfo.pagenum"
          :page-sizes="[3, 5, 10, 15]"
          :page-size="queryInfo.pagesize"
          layout="total, sizes, prev, pager, next, jumper"
          :total="total"
        >
        </el-pagination>
      </div>
    </el-card>
    <!-- 添加模态框 -->
    <el-dialog title="添加" :visible.sync="dialogTableVisible">
      用户名:
      <el-input
        v-model="rexs.name"
        placeholder="请输入内容"
        @blur="blueName"
      ></el-input>
      <el-alert :title="rles[0].mes" type="error" v-show="rles[0].stu">
      </el-alert>

      密码:<el-input
        v-model="rexs.pass"
        placeholder="请输入内容"
        @blur="bluepass"
      ></el-input>
      <el-alert :title="rles[1].mes" type="error" v-show="rles[1].stu">
      </el-alert>
      邮箱:
      <el-input
        v-model="rexs.emil"
        placeholder="请输入内容"
        @blur="blueemil"
      ></el-input>
      <el-alert :title="rles[2].mes" type="error" v-show="rles[2].stu">
      </el-alert>
      手机号:<el-input
        v-model="rexs.phon"
        placeholder="请输入内容"
        @blur="bluephone"
      ></el-input>
      <el-alert :title="rles[3].mes" type="error" v-show="rles[3].stu">
      </el-alert>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogTableVisible = false">取消</el-button>
        <el-button type="primary" @click="addList" :plain="true"
          >确定</el-button
        >
      </span>
    </el-dialog>
    <!-- 修改模态框 -->
    <el-dialog title="修改用户" :visible.sync="dialogVisible">
      用户名:
      <el-input
        v-model="edits.name"
        placeholder="请输入内容"
        
        disabled
      ></el-input>
      邮箱:
      <el-input v-model="edits.emil" placeholder="请输入内容"></el-input>
      手机号:<el-input v-model="edits.phon" placeholder="请输入内容"></el-input>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="editList">确 定</el-button>
      </span>
    </el-dialog>
    <!-- 分配角色模态框 -->
    <el-dialog title="分配角色" :visible.sync="dialogVisibles">
      用户名:
      <el-input
        v-model="nole.name"
        placeholder="请输入内容"
        disabled
      ></el-input>
      当前角色:
      <el-input v-model="nole.role" placeholder="请输入内容"></el-input>
      选择角色:
      <el-select v-model="val" placeholder="请选择">
        <el-option
          v-for="item in options"
          :key="item.value"
          :label="item.roleName"
          :value="item.id"
        >
        </el-option>
      </el-select>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisibles = false">取 消</el-button>
        <el-button type="primary" @click="adminList">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import {
  adduser,
  addusers,
  dele,
  status,
  edit,
  admin,
  role,
} from "@/api/login.js";
export default {
  data() {
    return {
      input: "",
      tableData: [],
      queryInfo: {                                                                                                      
        query: "", //查询条件
        pagenum: 1, //当前页
        pagesize: 5, //每页显示条数
      },
      total: 0,
      ad: "",
      val: "",
      options: [],
      dialogTableVisible: false,
      dialogVisible: false,
      dialogVisibles: false,
      rexs: {
        name: "",
        pass: "",
        emil: "",
        phon: "",
      },
      edits: {
        name: "",
        emil: "",
        phon: "",
      },
      nole: {
        name: "",
        role: "",
      },
      uId: "",
      rles: [{ stu: false }, { stu: false }, { stu: false }, { stu: false }],
    };
  },
  mounted() {
    this.addLiaison();
  },
  methods: {
    addLiaison() {
      adduser({
        query: this.queryInfo.query,
        pagenum: this.queryInfo.pagenum,
        pagesize: this.queryInfo.pagesize,
      }).then((res) => {
        console.log(38, res.data);
        this.total = res.data.total;
        this.tableData = res.data.users;
      });
    },
    // 搜索
    searchUser() {
      this.queryInfo.pagenum = 1;
      this.addLiaison();
    },
    // 分页
    handleSizeChange(val) {
      console.log(`每页 ${val} 条`);
      this.queryInfo.pagesize = val;
      this.addLiaison();
    },
    handleCurrentChange(val) {
      console.log(`当前页: ${val}`);
      this.queryInfo.pagenum = val;
      this.addLiaison();
    },
    tst(rels, cont, msg) {
      if (rels.test(cont)) return { stu: false };
      else if (cont == "") return { stu: true, mes: "内容不能为空" };
      else return { stu: true, mes: msg };
    },
    //正则
    blueName() {
      this.$set(
        this.rles,
        0,
        this.tst(/^[a-zA-Z0-9_-]{4,16}$/, this.rexs.name, "用户名格式不正确")
      );
    },
    bluepass() {
      this.$set(
        this.rles,
        1,
        this.tst(
          /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/,
          this.rexs.pass,
          "密码格式不正确"
        )
      );
    },
    blueemil() {
      this.$set(
        this.rles,
        2,
        this.tst(
          /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/,
          this.rexs.emil,
          "邮箱格式不正确"
        )
      );
    },
    bluephone() {
      this.$set(
        this.rles,
        3,
        this.tst(
          /^((13[0-9])|(14[5|7])|(15([0-3]|[5-9]))|(18[0,5-9]))\d{8}$/,
          this.rexs.phon,
          "手机号格式不正确"
        )
      );
    },
    // 添加
    addList() {
      addusers(this.rexs).then((res) => {
        console.log(res);
        this.addLiaison();
        this.rexs = [];
        this.dialogTableVisible = false;
        this.$message({
          message: "恭喜你，添加成功",
          type: "success",
        });
      });
    },
    // 删除
    open(id) {
      this.$confirm("此操作将永久删除该文件, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(() => {
          dele(id).then((res) => {
            console.log(res);
            this.addLiaison();
          });
          this.$message({
            type: "success",
            message: "删除成功!",
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除",
          });
        });
      this.addLiaison();
    },
    //状态
    checked(msg) {
      status(msg).then((res) => {
        console.log(248, res);
      });
    },
    // 修改
    modify(row) {
      // console.log(row);
      this.dialogVisible = true;
      this.edits.name = row.username;
      this.edits.emil = row.email;
      this.edits.phon = row.mobile;
      this.uId = row.id;
    },

    editList() {
      let obj = { email: this.edits.emil, mobile: this.edits.phon };
      console.log(obj);
      edit(this.uId, obj).then((res) => {
        console.log(res);
        this.dialogVisible = false;
        this.addLiaison();
        this.$message({
          message: "恭喜你，修改成功",
          type: "success",
        });
      });
    },
    // 分配角色
    admin(row) {
      console.log(row);
      this.dialogVisibles = true;
      this.nole.name = row.username;
      this.nole.role = row.role_name;
      role().then((res) => {
        this.options = res.data;
        console.log(344, this.options);
      });
      this.uId = row.id;
    },

    adminList() {
      let rid = this.val;
      console.log(rid);
      console.log(this.uId);
      admin(this.uId, { rid }).then((res) => {
        this.addLiaison();
        this.dialogVisibles = false;
          this.$message({
            message: "恭喜你，更新成功",
            type: "success",
          });
      });
    },
  },
  components: {},
  computed: {},
};
</script>

<style lang='scss'>
* {
  margin: 0;
  padding: 0;
  list-style: none;
}
.box-card {
  width: 100%;
  height: 100vh;
  .search {
    display: flex;
    .input {
      width: 300px;
      height: 40px;
    }
  }
  ul {
    display: flex;
    li {
      width: 50px;
      margin-left: 10px;
      cursor: pointer;
    }
    li:hover {
      color: skyblue;
    }
  }
  .cell {
    display: flex;
  }
}
.el-pagination {
  display: flex;
  white-space: nowrap;
  padding: 2px 5px;
  color: #303133;
  font-weight: 700;
}
</style>
