<template>
  <div class="about">
    <button @click="test" ref="swh">{{ testMsg }}</button>
  </div>
</template>

<script>
export default {
  data() {
    return {
      testMsg: "原始值",
    };
  },
  mounted() {},
  methods: {
    test() {
      this.testMsg = "改变之后的值";
      console.log(this.$refs.swh.innerHTML);
    },
  },
  components: {},
};
</script>

<style lang='scss'>
</style>


