<template>
  <div class="home">
    <el-container>
      <!-- 头部 -->
      <el-header>
        <img src="img/logo.png" alt="" />
        <span>电商后台管理系统</span>
        <el-button type="success" @click="tologin" class="exitBtn"
          >退出</el-button
        >
      </el-header>
      <!-- 页面部分 -->
      <el-container>
        <!-- 左侧侧边导航 -->
        <el-aside :width="isCollapse ? '64px' : '200px'">
          <div class="aside_tap" @click="gbStyle">|||</div>
          <el-menu
            unique-opened
            router
            :default-active="$route.path"
            :collapse="isCollapse"
            :collapse-transition="false"
            class="el-menu-vertical-demo"
            background-color="#333744"
            text-color="#fff"
          >
            <el-submenu
              :index="item.id + ''"
              v-for="item in menusList"
              :key="item.id"
            >
              <template slot="title">
                <i :class="'el-' + iconObj[item.order]"></i>

                <span>{{ item.authName }}</span>
              </template>
              <el-menu-item-group>
                <el-menu-item
                  v-for="items in item.children"
                  :key="items.id"
                  :index="'/' + items.path"
                >
                  <i class="el-icon-menu"></i>
                  {{ items.authName }}
                </el-menu-item>
              </el-menu-item-group>
            </el-submenu>
          </el-menu>
        </el-aside>
        <!-- 右侧 -->
        <el-main>
          <router-view></router-view>
        </el-main>
      </el-container>
    </el-container>
  </div>
</template>
<script>
import { leftbat } from "@/api/login.js";
export default {
  data() {
    return {
      isCollapse: false,
      menusList: [],
      iconObj: {
        1: "icon-user",
        2: "icon-setting",
        3: "icon-shopping-bag-2",
        4: "icon-s-order",
        5: "icon-s-marketing",
      },
    };
  },
  mounted() {
    leftbat().then((res) => {
      // console.log(res);
      this.menusList = res.data;
    });
  },
  methods: {
    // |||
    gbStyle() {
      this.isCollapse = !this.isCollapse;
    },
    // 退出
    tologin() {
      // 清除本地存储
      localStorage.removeItem("token");
      // 跳转到登录页面
      this.$router.push("/login");
    },
  },
  components: {},
};
</script>
<style lang='scss' scoped>
* {
  margin: 0;
  padding: 0;
}
.el-container {
  width: 100%;
  height: 100%;
}
.el-header,
.el-footer {
  position: relative;
  background-color: #373d41;
  color: #333;
  line-height: 60px;
  img {
    height: 100%;
  }
  span {
    position: absolute;
    top: 1;
    left: 100px;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
  }
  .el-button {
    position: absolute;
    right: 20px;
    top: 10px;
  }
}

.el-aside {
  background-color: #333744;
  color: #333;
  text-align: center;
  line-height: 200px;
  .aside_tap {
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-size: 10px;
    cursor: pointer;
    color: #ffffff;
    letter-spacing: 2px;
    background-color: #4a5064;
  }
  .el-menu-vertical-demo {
    height: 100vh;
  }
}

.el-main {
  background-color: #e9eef3;
  color: #333;
}

body > .el-container {
  margin-bottom: 40px;
}

.el-container:nth-child(5) .el-aside,
.el-container:nth-child(6) .el-aside {
  line-height: 260px;
}

.el-container:nth-child(7) .el-aside {
  line-height: 320px;
}
.exitBtn {
  width: 100px;
  padding: 10px 0;
  font-size: 10px;
}
</style>